<table>
  <thead>
    <tr>
      <th>
        Id
      </th>
      <th>
        Name
      </th>
      <th>
        Brand
      </th>
      <th>
        Price
      </th>
      <th>
        Quantity
      </th>
      <th>
        Description
      </th>
    </tr>
  </thead>
  <tbody *ngFor="let product of products">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.brand}}</td>
    <td>{{product.price}}</td>
    <td>{{product.quantity}}</td>
    <td>{{product.description}}</td>
  </tbody>
</table>
